extends layouts/main

block content
  .login-container
    .login-box
      h2.login Register

      form(action="/register" method="POST")
        .form-group
          label username
          input(type="text" name="username" placeholder="Enter your email" required)

        .form-group
          label Email
          input(type="text" name="email" placeholder="Enter your email" required)

        .form-group
          label Password
          input(type="password" name="password" placeholder="Enter your password" required)

        button.btn(type="submit") Register

      p.footer
        | Are you have account ? 
        a(href="/login") Login