* {
    box-sizing: border-box;
    list-style: none;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/* Container */
.container {
    width: 100%px;
    margin-left: auto;
    margin-right: auto;
}

/* @media (min-width: 768px) {
    .container {
        width: 720px;
    }
} */

@media (min-width: 992px) {
    .container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
}


.header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.header .header_left {
    display: flex;
    align-items: center;
}

.header .header_left .logo {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: black;
    font-weight: 700;
}

.header .header_left .search form {
    margin-left: 10px;
    background-color: #eef2f8;
    padding: 10px;
    border-radius: 10px;
    height: 48px;
    display: flex;
    align-items: center;
}

.header .header_left .search form input {
    outline: none;
    border: none;
    background-color: transparent;

}

.header .header_middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header_middle .title {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: black;
}

.header .header_middle .title:hover {
    color: #80b501;
}

@media (max-width: 1300px) {
    .header .header_middle .contact {
        display: none;
    }

    .header .header_middle .title {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}

@media (max-width: 300px) {
    .header .header_middle .contact {
        display: none;
    }

    .header .header_middle .title {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}

.header .menu {
    display: flex;
    justify-content: flex-start;
}

.header .menu .button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu .button .btn {
    background-color: #80b501;
    margin-right: 10px;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.header .menu .button .profile{
    background-color: #0061f2;
    margin-right: 10px;
    padding: 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.header .menu .button .profile a{
    color: white;
}

.header .menu .button .btn.logout {
    background-color: rgb(240, 85, 85);
    margin-right: 10px;
    padding: 16px;
    border-radius: 10px;
}

.header .menu .button .btn.logout:hover {
    background-color: red;
    margin-right: 10px;
    padding: 16px;
    border-radius: 10px;
}


.header .menu .button .btn:hover {
    background-color: #80b501;
}

.header .menu .button .btn a {
    list-style: none;
    text-decoration: none;
    color: white;
}

a {
    list-style: none;
    text-decoration: none;
}

@media (max-width: 1300px) {
    .header .menu .button .logout {
        display: none;
    }
}

/* Product */
.search {
    padding: 10px;
}

.product {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.product .box {
    padding: 12px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 23%;
}

@media (max-width: 768px) {
    .product .box {
        padding: 12px;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 31%;
    }
}

.product .box .image {
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .box .image img {
    background-size: contain;
    width: 185px;
    height: 185px;
}

.product .box .title {
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 5px;
}

.product .box .price {
    color: #0da487;
    font-weight: 700;
    margin-bottom: 15px;
}

.product .box .button .btn {
    padding: 10px;
    background-color: #80b501;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.product .box .button .btn:hover {
    background-color: #4b6a04;
}

/* Login */
.login-container {
    display: flex;
    align-items: center;
    height: auto;
}

.login-box {
    background: white;
    padding: 50px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.form-group input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

.btn {
    width: 100%;
    padding: 12px;
    background: #80b501;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #34eec9;
}

.footer {
    margin-top: 15px;
}

.footer a {
    color: #0c2f28;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

/* profile */
.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profile-card {
    width: 450px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-header {
    background-color: #0061f2;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;
}

.username {
    margin: 5px 0;
}

.email {
    font-size: 16px;
    opacity: 0.9;
}

.profile-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.info-group {
    margin-bottom: 15px;
}

.info-group label {
    display: block;
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}

.info-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    height: 40px;
}

.profile-footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.btn-edit {
    background: #2196F3;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-edit:hover {
    background: #1976D2;
}

.btn-logout {
    background: #f44336;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-logout:hover {
    background: #d32f2f;
}

.profile-footer-edit {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-profile {
    background-color: #0061f2;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-profile:hover {
    background: blue;
}

/* Section-1 */
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 219);
    padding: 30px;
    border-radius: 10px;
}

.section-1_left_top {
    padding: 4px 15px;
    background-color: rgba(128, 181, 1, 0.1019607843);
    display: inline;
    font-size: 16px;
    color: #555555;
}

.section-1_left_title {
    margin-top: 20px;
    font-size: 76px;
    font-weight: 700;
    margin-bottom: 40px;
}

.section-1_left_button {
    background-color: #80b501;
    padding: 20px 30px;
    display: inline;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.section-2 {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* chữ nằm trên hình */
.content {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  color: white;
}

.title2 {
  font-size: 16px;
  font-weight: bold;
  color: #80b501;
  margin-bottom: 10px;
}

.desc {
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.desc2 {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.button3 {
    background-color: #80b501;
    padding: 20px 30px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.section-3 {
    padding: 100px 20px;
}

.section-3_top {
    margin-bottom: 40px;
}

.section-3_top_title {
    margin-bottom: 10px;
}

.section-3_top_title_inline {
    background: rgba(129, 184, 0, 0.15);
    color: #80b501;
    display: inline;
    padding: 10px 15px;
    font-size: 16x;
    font-weight: 700;
}

.section-3_top_desc {
    font-size: 45px;
    margin-top: 10px;
    font-weight: 700;
}

.section-3_bottom {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section-3_bottom_box {
    width: 33.3%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
    padding: 0px 15px;
}

.section-3_bottom_box_image {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    background-color: rgb(249, 244, 244);
}

.section-3_bottom_box_image img {
    max-width: 100%;
    object-fit: cover;
}

.section-3_bottom_box_content_title {
    font-size: 20px;
    font-weight: 700;
}

.section-3_bottom_box_content_price {
    font-size: 16px;
    color: #80b501;
    padding: 5px 0px;
}

.section-4 {
    margin-bottom: 20px;
}

.section-4_bottom {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-4_bottom_box {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.section-4_bottom_box_image {
    padding: 80px 30px 40px;
    max-width: 370px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.section-4_bottom_box_image img {
    width: 206px;
    height: 206px;
}

.section-4_bottom_box_content_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-4_bottom_box_content_price {
    color: #80b501;
}

.search {
    font-weight: 700;
    font-size: 20px;
}

/* product detail */
.product-detail {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.product-detail h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #222;
}

.product-container {
  display: flex;
  gap: 40px;
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* LEFT IMAGE */
.product-container .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container .left img {
  width: 100%;
  max-width: 420px;
  border-radius: 14px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-container .left img:hover {
  transform: scale(1.05);
}

/* RIGHT INFO */
.product-container .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-container .right h1 {
    margin-bottom: 0;
}

.product-container .right p {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.product-container .right strong {
  color: #111;
  font-weight: 700;
}

/* STATUS */
.status {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
}

.status.available {
  background: #e6f7ee;
  color: #1a7f37;
}

.status.unavailable {
  background: #ffecec;
  color: #d93025;
}

/* BUTTONS */
button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  margin-right: 10px;
  margin-top: 10px;
}

button.buy {
  background: #ff6b00;
  color: white;
}

button.buy:hover {
  background: #e85f00;
  transform: translateY(-2px);
}

button.cart {
  background: #222;
  color: white;
}

button.cart:hover {
  background: #000;
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .product-container .left img {
    max-width: 100%;
  }
}

.comment-section {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.comment-section h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.comment-form textarea {
  min-height: 90px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  resize: none;
}

.comment-form button {
  width: fit-content;
  padding: 10px 16px;
  background: #ff6b00;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comment-item {
  padding: 12px;
  border-radius: 10px;
  background: #f7f7f7;
}

.comment-content {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-meta {
  font-size: 20px;
  color: #666;
}

.comment-item {
  padding: 12px;
  border-radius: 10px;
  background: #f5f5f5;
  margin-bottom: 10px;
}

.comment-meta strong {
  display: block;
  color: #111;
  margin-bottom: 5px;
  font-weight: 700;
}

.comment-content {
  color: #444;
}

.comment-item .time {
    color: #000;
    font-weight: 600;
}