.box 
  .image 
    img(src=`${product.image}`, alt="", srcset="")
  .title #{product.productName}
  .price $#{product.price}
  div.button 
    button.btn 
      a(href=`/product/${product.id}`, style="color: white;") View more...